<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_habit">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity
            android:name=".ui.prepare.PrepareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sleep.SleepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.alarm.AlarmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>