<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zust.module_music">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>
        <activity
            android:name=".ui.play.MusicPlayActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.play.StoryPlayActivity"
                  android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
